@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;1,100&family=Playfair+Display:wght@400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
}
.nav-link{
    line-height: 8vh;
    font-size: 1.2em;
    line-height: normal;
}
.navbar-nav > li{
    padding-left: 1em;
    padding: 0.5em;
}
ul{
    justify-content: space-around;
}
.navbar{
    background-color: white;
}
.navbar-brand img{
    max-height: 80px;
    width: fit-content;
}
#success{
    border: 1px solid #140b41;
    color: #140b41;
}
#success:hover{
    background-color: #140b41;
    color: white;
}
.line{
    width: 100%;
    height: 2px;
    background-color: goldenrod;
}
#header{
    background-image: url(/img/gradienta-OzfD79w8ptA-unsplash.jpg);
    background-repeat: no-repeat;
    color: white;
}
button{
    background-color: transparent;
    padding: 1em;
    font-size: 15px;
    border-radius: 5px;
    color: white;
    border: 1px solid white;
}
button:hover{
    background-color: white;
    color: #140b41;
}
.left-side{
    padding: 20px;
}
.left-side h1{
    line-height: 2.5em;
}
.left-side p{
    line-height: 2em;
    font-size: 1.1em;
    padding-bottom: 1em;
}
.right-side img{
    height: 200px;
}
@media only screen and (min-width: 768px) {
    form{
        padding-right: 100px;
    }
    .navbar-nav > li{
        margin-right: 1em;
    }
    img{
    padding-left: 100px;
   }
   #header{
    background-image: url(/img/gradienta-OzfD79w8ptA-unsplash.jpg);
    height: 600px;
    display: flex;
   }
   .left-side{
    padding: 100px;
    width: 50%;
   }
   .right-side img{
    padding-top: 120px;
    height: 450px;
   }
}
